.navList {
  margin: 0;
  background-color: black;
  text-align: center;
}

.navItem {
  display: inline-block;
  list-style: none;
  padding: 20px;
}

.navLink {
  color: gainsboro;
  text-decoration: none;
}

.navLink:hover {
  color: white;
}
